{
  "defaultNetwork": "bitci_main",
  "gaId": "UA-XXXXXXXXX-X",
  "fbPixelId": "XXXXXXXXXXXXX",
  "serviceReceiver": {
    "bitci_main": "0x3f13e778C95bBB7FFB4e15bF26734099bf909820",
    "bitci_test": "0x3f13e778C95bBB7FFB4e15bF26734099bf909820"
  }
}
